
<head>
    <meta charset="UTF-8">
    <title>{{data.firstname}}'s List"</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="#/">To Do Tokens</a> <small>{{data.firstname}}'s List</small> <small class="listPage_tokenDisplay">Total Tokens: {{data.tokens}}</small></h1>
    </div>
    <div>
        <div ng-if="userList.ID == 'empty'">
            No Current List Items
        </div>
        <div ng-if="userList.ID != 'empty'">

            <ul class="unstyled">
                <li ng-repeat="item in userList.items">
                    <input type="checkbox" ng-model="item.status">
                    <span>{{item.label}} </span>
                </li>
              </ul>
        </div>
    </div>
</body>
