<h4 ng-init="newTotal.listtokens = 0"> Current total tokens: {{data.tokens}}  <!--Current total tokens with Pending: {{data.tokens + newTotal.listtokens + modTotalTokens }}--></h4>
<h5>Change totken total: </h5> <input type="number" ng-model="modTotalTokens" ng-init="modTotalTokens = 0"  min="-999" max="999"/> <button ng-click="modTotalTokens = tokenUpdate(modTotalTokens)"> Update</button>
<br>
<h4> Current Pending Lists: </h4>
<div ng-if="!list.pendinglists">
            No Current List Items
</div>
<div ng-if="list.pendinglists">

    <ul class="unstyled">
        <li ng-repeat="(key, aList) in list.pendinglists" ng-if="aList">
            <div ng-if="key != 'stub'">
                <span class="glyphicon glyphicon-ok" type="button" ng-init="aList.listtokens = 0" ng-click="archiveList(key)"></span>

                Date Created: {{localTime(aList.createdOn)}}
                <br>
                Current List tokens: {{aList.listtokens}}
                <ul class="unstyled" ng-if="aList">
                    <li ng-repeat="item in aList.items">
                        <input type="checkbox" ng-model="item.status" ng-change="updateTotal(aList, item.status, true)" ng-init="updateTotal(aList, item.status)" />
                        <span>{{item.label}} </span>
                    </li>
                </ul>
            </div>
            <div ng-if="key === 'stub'">
                <span>End of List</span>
            </div>
        </li>
    </ul>
</div>
